{% extends 'automateJobFind/main.html' %} {% block content %}
<div class="formContainer">
  <form method="POST">
    <h1>Job Recommended</h1>
    {% csrf_token %} {% for job in joblist%}
    <h3>{{job.company}}</h3>
    <p>Job Position : {{job.position}}</p>
    <p>Location : {{job.location}}</p>
    <p>Job Requirement : {{job.requirement}}</p>
    <p>Email : {{job.email}}</p>
    <p>phone : {{job.phone}}</p>

    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit Form & Email</button>
  </form>
</div>

{% endblock %}
