{% extends 'automateJobFind/main.html' %} {% block content %}
<div class="formContainer">
  <form action="" method="POST">
    <span class="title">Question Form</span>
    <br />
    {% csrf_token %} {% for field in form %}
    <div class="form-group row">
      <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label"
        >{{field.label}}</label
      >
      <div class="col-sm-10">{{field}}</div>
    </div>

    {% endfor %}
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
